<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
    name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/core.css" />
    <link rel="stylesheet" href="../css/admin.css" />
  
  </head>
  
  <body>
    <div class="login-page" ng-app="">

        <div class="login-content login-content-signin" ng-hide="showSignIn">
          <div>
            <h2>Log in</h2>
            <form class="wrapper-box" role="form" action="/admin/auth" method="post">
              <input type="email"
                ng-model="email"
                class="form-control form-control-email"
                placeholder="Email address"
                name="email"
                required>
              <input type="password"
                ng-model="password"
                class="form-control form-control-password"
                placeholder="Password"
                name="password"
                required >
             
              <button type="submit" class="btn btn-submit btn-default pull-right">Log in</button>
            </form>
          </div>
        </div>
      
      </div>
  </body>
</html>


  